@use "@carbon/react/scss/reset";
@use "@carbon/react/scss/grid";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/layer";
@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/components";


.container {
  display: flex;
}

.side {
  width: 256px;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  padding-left: 2rem;
}

.hidden {
  display: none;
}